# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/homework/Employee/nbproject/private/
/homework/Employee/build/
/homework/homework1_2/nbproject/private/
/homework/hw1/hw1_5/nbproject/private/
/homework/hw1/GasmeterTest/nbproject/private/
/homework/hw1/Gasmeter/nbproject/private/
/homework/hw1/ntou.cs.java2017.ChenLiEn/nbproject/private/
/homework/hw1/ntou.cs.java2017.ChenLiEn/build/
/practice/practice1/nbproject/private/
/homework/hw2/JavaApplication8/nbproject/private/
/homework/hw2/JavaApplication8/build/
/homework/hw3/JavaApplication1/nbproject/private/